extends base

block styles
    link(rel="stylesheet", href="/css/nav.css")
    link(rel="stylesheet", href="/css/utils.css")
    link(rel="stylesheet", href="/css/addProduct.css")

block content 
    img.loader(src="/img/loader.gif", alt="")

    .alert-box 
        img.alert-img(src="/img/error.png", alt="")
        p.alert-msg


    .cover 

    .product-details 
        input.name(type="text" placeholder="product name" value=`${product ? product.name : ''}`)
        input.brief-des(type="text" placeholder="brief description" value=`${product ? product.briefDes : ''}`)
        textarea.detailed-des(id="product-des" placeholder="detailed description")=`${ product ? product.detailedDes : ''}`
        

    .product-images     
        img.product-image(id="main-image" src=`${ product ? product.imagePaths.find((el) => el !== null) :  "/img/noimg.png"}`)

        .div 
            p upload images 
                img(src="/img/camera.png", alt="")
            .images 
                - url = product?.imagePaths[0] ? `background-image:url(${product.imagePaths[0]})` : null            
                input.fileUpload(type="file", id="firstUpload")
                label.label(style=url for="firstUpload")

                - url = product?.imagePaths[1] ? `background-image:url(${product.imagePaths[1]})` : null            
                input.fileUpload(type="file", id="secondUpload")
                label.label(style=url for="secondUpload" )

                - url = product?.imagePaths[2] ? `background-image:url(${product.imagePaths[2]})` : null
                input.fileUpload(type="file", id="thirdUpload" )
                label.label(style=url for="thirdUpload" )

                - url = product?.imagePaths[3] ? `background-image:url(${product.imagePaths[3]})` : null
                input.fileUpload(type="file", id="fourthUpload") 
                label.label(style=url for="fourthUpload" )                                

    .sizes 
        h2.sizes-title Sizes Available 
        -  let checkValue = product?.sizes.find(size => size === 's')      
        input.size-checkbox( type="checkbox" value="s" checked=checkValue)  
        -  checkValue = product?.sizes.find(size => size === 'm')      
        input.size-checkbox(type="checkbox" value="m" checked=checkValue)
        -  checkValue = product?.sizes.find(size => size === 'l')
        input.size-checkbox(type="checkbox" value="l" checked=checkValue)


    .prices 
        - const stocks = product?.stocks || '';
        input.stocks(type="number" placeholder="Items in stock" value=stocks)
        - const price = product?.price || '';
        input.price(type="number" placeholder="price" value=price)

    .btns 
        button.draft.btn save draft 
        button.add-product.btn add product


    include _scripts
    script(type="module" src="/js/utils.js")
    script(type="module" src="/js/addProduct.js")
    script const product = !{JSON.stringify(product)};

